APPWRITE_ENDPOINT=
APPWRITE_API_KEY=
APPWRITE_BUCKET_ID=
APPWRITE_PROJECT_ID=
VITE_INSTRUMENTATION_SCRIPT_SRC=

# EmailJS Configuration
# Get these values from your EmailJS dashboard
VITE_EMAILJS_PUBLIC_KEY=L2M0lBn79hjMs2xdc
VITE_EMAILJS_SERVICE_ID=service_e2zc5i9
VITE_EMAILJS_TEMPLATE_ID=template_9haz7df

